version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: my-postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: track_fitness
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
