spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/track_fitness
    username: postgres
    password: test
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: user_service
server:
  port: 8081